
html {
    scroll-behavior: smooth;
}

.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Section Spacing */
section {
    padding: 60px 0;
}

/* Center content on small screens */
.text-md-start {
    text-align: center;
}

.card {
    height: 100%;
}
body {  
    background: linear-gradient(45deg, #ff7e5f, #feb47b, #86a8e7, #7f7fd5);
}
.navbar {
    background:#1a1a40;
        padding: 15px;
 }
      

        